$main-grey-color: rgb(58, 71, 74);
$is-blue: #3273dc;


img
    max-height: 100%

.products
    img
        max-height: 120px

.is-ws-grey-text
    color: $main-grey-color

.container
    max-width: 1000px

.section-productslists .column
    &:first-child
        padding-left: 0
    &:last-child
        padding-right: 0

.navbar-menu
    a
        margin-left: 5px

.navbar-item img
    max-height: 100%

.container
    .navbar
        .navbar-menu
            margin-right: 0
        .navbar-brand
            margin-left: 0px

.hero
    &.is-ws-grey
      background-color: $main-grey-color
      .title, .subtitle
          color: white

.panel-heading
    &.is-blue
         background: $is-blue
         color: white

.is-landing-page
    .hero-body
        background-image: url(/images/cover-landingpage.jpg)
        background-repeat: no-repeat
        background-size: cover
        background-position: 0 80%;
        background-attachment: fixed

.has-small-vm
    margin: 20px auto

.has-medium-vm
    margin: 40px auto

.products-link
    padding: 5px
    &:hover
        background-color: #e8ebed

.has-bottom-space
    margin-bottom: 100px

.is-long-text
    white-space: pre-line

.error_page
    > .column:first-child
        display: flex
        justify-content: center
        flex-direction: column
    .title
        font-size: 100px
    .subtitle
        font-size: 40px

.level
    flex-wrap: wrap
    .level-right
        margin-top: 5px
        margin-left: auto
    .level-item-plus
        color: $main-grey-color

@media (max-width: 1024px)
    .navbar-menu
        a
            margin: 3px 0px

@media (max-width: 760px)
    body
        width: 95%
        margin: 0 auto

    .has-small-vm
        margin: 10px auto

    .has-medium-vm
        margin: 20px auto

    .media-product
        display: block

    .media-left
        float: left

    .products
        display: block
        .subtitle
            margin-bottom: 0px
        .level-right, .level-left
            display: inline-block

    .error_page
        .title
            font-size: 40px
        .subtitle
            font-size: 20px
