$main-grey-color: rgb(58, 71, 74);

.container
    max-width: 980px

.hero
    &.is-ws-grey
      background-color: $main-grey-color
      .title, .subtitle
          color: white

.has-small-vm
    margin: 20px auto

.has-medium-vm
    margin: 40px auto

.products
    padding: 5px
    &:hover
        background-color: #e8ebed
